html {
  font-size: 80%; /* 1rem = 10px */
}

.materia-container {
    width: 100%;
    height: auto;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.linha {
  margin-bottom: 5em; /* Ou qualquer outro valor desejado */
}

.box {
  border-radius: 3%; 
  margin-right: 10em;
  text-align: center;
  padding: 1em;
  border: 0.3em solid rgb(57, 17, 62);
  background-color: #f0f0f0;
  width: 14em; /* Largura fixa */
  height: 7em; /* Altura fixa */
  box-sizing: border-box; /* Garante que padding e border são incluídos no tamanho total */
  z-index: 1;
}

.arrow {
    pointer-events: none;
  }
  
  .arrow__path {
    stroke: #000;
    fill: transparent;
  }
  
  .arrow__head line {
    stroke: #000;
    stroke-width: 2em;
  }

