/* Center the course name at the top of the screen */
#course-title {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 0px 3px 4px #767676;
}

/* Update the highlight color for prerequisites to light yellow */
.highlight {
  background-color: lightyellow;
}

/* Make sure all periods appear side by side */
.periods {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.period {
  font-family: 'Kanit', sans-serif;
  flex: 1;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

/* Make the background color of the subject boxes white */
.subject {
  font-family: 'Kanit', sans-serif;
  background-color: white;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#period-1 {
  background-color: lightblue;
}
#period-2 {
  background-color: lightgreen;
}
#period-3 {
  background-color: lightpink;
}
#period-4 {
  background-color: rgb(35, 127, 249);
}
#period-5 {
  background-color: lightcoral;
}
#period-6 {
  background-color: lightgray;
}
#period-7 {
  background-color: lightsalmon;
}
#period-8 {
  background-color: lightseagreen;
}

.highlight-prereq {
  background-color: lightyellow;
}

.highlight-most-unlocking {
  background-color: blue;
}

.subject[style*="background-color: orange"] {
  background-color: orange !important;
}

#button-container {
  
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilos do novo botão */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(0px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


/* Estilo do menu dropdown */
.dropdown {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

div.fixed1 {
  position: fixed;
  bottom: 4px;
  right: 4px;
  width: 210px;
  border: 5px solid #000000;
  background-color: #F56329;
  border-radius: 9px;
  padding: 4px; /* Adiciona espaço interno para o texto não ficar muito próximo das bordas */
}

.left-text {
  text-align: left; /* Alinha o texto à esquerda */
  flex-grow: 1; /* Ocupa o espaço disponível à esquerda */
}

.right-text {
  text-align: right; /* Alinha o texto à direita */
  flex-grow: 1; /* Ocupa o espaço disponível à direita */
}

div.fixed2 {
  position: fixed;
  width: 190px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  border: 2px solid #000000;
  border-radius: 6px;
  background-color: #F56329;
  left: 50%; /* Move o elemento para o centro horizontal */
  transform: translateX(-50%); /* Corrige a posição */
  bottom: 4px; /* Define a parte inferior da tela */
}


.p1 {
  font-family: Verdana, sans-serif;
  font-size: 13px;
}

body {
  background: #ffffff; /* background da tela inteira*/
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.line2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line button {
  margin-right: 10px; /* Adiciona um espaço entre o botão e o texto */
}

.line2 button {
  margin-right: 10px; /* Adiciona um espaço entre o botão e o texto */
}

.text {
  flex-grow: 1; /* Ocupa o espaço disponível no centro */
}

/* TOOLTIPS */
/* START */

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: auto;
  right: 100%;
  top: -5px;
}

.tooltip .tooltiptext2 {
  visibility: hidden;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: auto;
  right: 100%;
  top: -25px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltiptext2 {
  visibility: visible;
}

/* END */
/* TOOLTIPS */


